<div class={{class}}>
  {{{title}}}

  {{#each pages}}
    <div class="profile__value">
      <span class="small-text">{{type}}</span>
      <p>{{value}}</p>
    </div>
  {{/each}}

  {{{button}}}
  {{{link}}}
</div>