<div class='right-panel__top-panel'>
  <img class='top-panel__avatar-container circle' src={{avatar_link}} alt='chat_avatar'/>
  <h3 class='top-panel__name'>{{name}}</h3>
  {{{input}}}
  {{{buttons}}}
</div>
{{{messagepanel}}}
{{{bottompanel}}}
