<div class='right-panel__top-panel'>
  <div class='top-panel__avatar-container circle'>
  </div>
  <h3 class='top-panel__name'>Чат: {{name}}</h3>
  {{{input}}}
  {{{buttons}}}
</div>
{{{messagepanel}}}
{{{bottompanel}}}
